#resultContainer {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#resultText {
  margin-bottom: 10px;
}

#resultImage {
  width: 500px;
  height: 350px;
}
nav{
    background-color: rgb(7, 7, 7);
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding:20px;
    text-decoration: none;
    color: #f2eaea;
    transition: 0.2se ease-in;
    font-size: 18px;
}
nav ul a: hover{
    background-color:green;
    color:white;
}

  .navigation li {
    display: inline;
    margin-left: 10px;
  }
  header h1 {
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust this value to center the button vertically */
    
  }
  
  .centered-button {
    font-size: 24px; /* Adjust this value to change the button's font size */
    padding: 24px 48px; /* Adjust this value to change the button's padding */
    background-color:greenyellow;
  }
  .custom-button {
    background-color:green;
    color: #ce1919;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  .small-logo {
    width: 100px; /* Adjust this value to change the image width */
    height: auto; /* Maintain the aspect ratio */
  }
  .left-image {
    float: left;
    margin-right: 10px; /* Adjust this value to add spacing between the image and text */
  }
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navigation li {
    display: inline;
    padding: 10px;
    
   
  }
  
  /* .navigation li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .navigation li a:hover {
    background-color: #f2f2f2;
  }   */
  /*  */
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:30px 20px;
    grid-column-gap:20px;
    grid-row-gap: 30px;
}
  .item img{
    width: 100%;
    height:300px ;
    object-fit:cover;
    cursor:pointer;
    transition:0.2s ease;
}
.item img:hover{
    transform:scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding:5px 30px;
    border: none;
    outline:none;
    background-color:green;
    color:white;
    cursor:pointer;
    border-radius:4px;
    font-size:20px;
    display:block;
    margin:0 auto;
    transition:0.2s all;
}
.item button:hover{
    transform:scale(1.04);
}
@media screen and (max-width:100px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px){
    .items{
        grid-template-coulumns:repeat(1,1fr);
    }
    
    

    
}
header h1 {
    text-align: center;
  }